@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root{
   --font-family:'Open Sans', sans-serif;
}

html {
 font-family: var(--font-family);

}

body {
   background-color: red;
   margin: 0;
   font-size: 1.1rem;
}


button {
   background-color:  #4c8930;
   padding: 10px;
   border: none;
   border-radius: 5px;
   color: white;
   font-family: var(--font-family);
   font-size: 18px;
   margin: 0em;
}

button:hover {
   transition: .1s ease-in-out;
   background-color:  #63b13f;
}

.container {
   background-color: white;
   max-width: 1400px;
   margin: auto;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 170px 920px 350px 650px 275px 270px;
   grid-template-areas: 
   "header"
   "main"
   "latestNews"
   "references"
   "newsletter"
   "footer";
}

header {
   grid-area: header;
   background-color: #4c8930;
}

.headerTop {
   margin-right: 10%;
}

.headerTopContent {
   height: 50px;
   width: 100%;
  display: table-row;
  text-align: right;
  list-style-type: none;

}

.headerTopContent li {
   display: table-cell;
   vertical-align: middle;
   padding: 0;
   width: 100%;
   height: 100%;
}

.headerTopContent li a {
   padding: 1em;
   color: white;
   text-decoration: none;
}

#language {
   padding: 5px 5px 5px 1em;
   width: 160px;
   background-color: white;
   border: none;
   border-radius: 5px;
   font-size: 1rem;
}

.headerBottom {
   background-color: white;
   width: 100%;
   height:120px;
   display: flex;
   justify-content: space-between;
   padding: 2em 0;

   

}

.navRight {
   display: inline;

   margin-right: 10%;

}

.navRight input {
   width:10%;

}


.navLeft {
   display: table-row;
   text-align: left;
   list-style-type: none;
   margin-left: 10%;
}

.navLeft li, .navRight li {
   display: inline-block;
}

.navLeft li , .navRight li > * {
   width: 100%;
   height: 100%;

}

.navLeft li {
   display: table-cell;
   vertical-align: middle;
   padding: 0;

   list-style-type: none;
   line-height: 1em;
   white-space: nowrap;
   overflow: hidden;
}

.navLeft li a {

   padding: 1em 1em 1em 0;
}
a img {
   height: 50px;
}

.headerBottom a {
   text-decoration: none;
   color: gray;
}

/* MOBILE NAVIGATION */

.headerTopMobile {
   height: 40px;
   width: 100%;
   display: flex;
   justify-content: center;
}

.headerTopMobile a {
   color: white;
   text-decoration: none;
   display: block;
   padding: 8px 20px 20px 0px;
   justify-content: right;
}

#languageMobile {
   color: white;
   background-color: #4c8930;
   border: none;
   font-size: 1rem;
   /* padding: 5px 10px; */
   margin: 0;
   display:flex;

}

#languageMobile option {
   border-radius: 0;
   background-color: #4c8930;

}

.headerBottomMobile {
   background-color: white;
   height: 60px;
   width: 100%;
   z-index: 1;
   display: flex;
   justify-content: space-between;
}

.mobileHeaderImage {
   margin-top: 5px;
   margin-left: 5px;
}

.dropbtn {
   background-color: white;
   color: #4c8930;
   /* padding: 10px; */
   font-size: 2rem;
   border: none;
   cursor: pointer;
   margin: 0;
   /* padding: -0 0 5 5; */
 }

 .dropbtn i {
   pointer-events: none;
   padding: 0;
   margin: 0;
   vertical-align: middle;
 }
 
 .dropbtn:hover, .dropbtn:focus {
   background-color: white;
   color: #5ea83c;
 }
 
 .dropdownMenu {
   position: relative;
   display: block;
   float: right;
 }

 .dropdownMenu button {
   padding-bottom: 0;
   padding-top: 5px;
   padding-right: 20px;
   margin-bottom: 11px;
 }
 
 .dropdownContent {
   display: none;
   position: absolute;
   background-color: white;
   width: 100vw;
   overflow: auto;
   z-index: 1;
   right: 0;
   top: -1;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 
 }

 .searchMobile {
   display: block;
   justify-content: center;
   list-style: none;
   text-align: center;
   width: 100vw;
 }

 .searchMobile input {
   align-items: center;
   display: inline-block;
   width: 40%;
  margin: auto;
  text-align: center;
 }

 .searchIconSpan {
   display: inline-block;
   background-color: white;
   color: #5ea83c;
   /* pointer-events: none; */
   padding: 10px !important; 
   margin: auto;
   text-align: center;
   color: white;
   background-color: #4c8930;
 }

 
 .dropdownContent a {
   color: black;
   padding: 14px;
   text-decoration: none;
   display: block;
   min-width: 100%;
   text-align: center;
 }
 
 .dropdown a:hover {background-color: #ddd;}
 
 .show {display: block;}

main {
   grid-area: main;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 420px 1fr 1fr;
   grid-template-areas: 
   "mainBanner"
   "contentBanners"
   "contentNumbers"
   ;
}

section {
   display: flex;
   align-items: stretch;
   width: 80%;
   height: 100%;
   margin: auto;
}

/* #contentBanners {
   display: flex;
   align-items: stretch;
} */

.bannerImage {
   /* max-width: 100%;
   height: 50%;
   object-fit: cover;
   float: left; */
   /* padding: .8em; */
   
  
   /* margin: 2em; */
   margin-top: 1.2em;
   /* display: block; */
  width: 100%;
  height: 80%;
  /* overflow: hidden; */
  /* width: auto; */
  /* height: auto; */
  object-fit: cover;
  border-radius: 5px;
  object-position: bottom;
}

.centeredText {
   position: absolute;
   top: 47%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-weight: 600;
   font-size: 1.4rem;
   color: white;
}

#contentNumbers {
   display: flex;
   align-items: stretch;
   width: 70%;
   height: 100%;
   margin: auto;
}

#mainBanner {
   width: 100%;
   grid-area: mainBanner;
}

.title h1 {
   margin-top: 0.2em;
   margin: 0.2em 10px 0 10px;
}

.title button {
   margin-top: 1em;
}

#companyBanner {
   position: relative;
   grid-area: companyBanner;
   width: 100%;
   height: 95%;
   /* background-color: yellow; */
   text-align: center;
   padding: .7em;
}

#productsBanner {
   position: relative;
   grid-area: productsBanner;
   width: 100%;
   height: 95%;
   /* background-color: aquamarine; */
   text-align: center;
   padding: .7em;
   }

#contactUsBanner {
   position: relative;
   grid-area: contactUsBanner;
   width: 100%;
   height: 95%;
   /* background-color: rosybrown; */
   text-align: center;
   padding: .7em;
   }

#clients {
   grid-area: clients;
   width: 100%;
   height: 100%;
   /* background-color: lightcoral; */
}

#employees {
   grid-area: employees;
   width: 100%;
   height: 100%;
   /* background-color: azure; */
}

#dailyUsers {
   grid-area: dailyUsers;
   width: 100%;
   height: 100%;
   /* background-color: aqua; */
}

#clients,
#employees,
#dailyUsers {
   text-align: center;
}

.numbersIcon {
   float: left;
   margin: 3em;
   margin-right: 1.2em;
   margin-left: 1em;
   scale: 90%;
}

.numbersShowcase p {
   text-align: left;
   margin-left: 1em;
}

.animatedNumber {
   font-size: 3.5rem;
   font-weight: 300;
   margin-top: 2rem;

}

#latestNews {
   grid-area: latestNews;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 100px 1fr;
   grid-template-areas: 
   "referencesTitle"
   "referencesContent"
   ;
   background-color: rgb(236,238,239);
   width: 100%;
}

#newsTitle {
   align-self: center;
   margin: auto;
}


#newsContent{
   display: flex;
   flex-direction: row;
   align-items: stretch;
   width: 80%;
   height: 100%;
   margin: auto;
}

#newsContent article {
   display: block;
   width: 100%;
   height: 70%;
   /* align-self: stretch; */
   /* align-items: center; */
   background-color: white;
   margin: 1em;
   border-radius: 5px;
}

.date {
   font-size: .8em;
   margin: 1em;
}

h3 {
   margin: 1em;
   margin-top: 0;
   font-size: 1.2rem;
}

#references {
   grid-area: references;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 100px 1fr;
   grid-template-areas: 
   "referencesTitle"
   "referencesContent"
   ;
   width: 100%;
   border-bottom: 1px gray solid;
}

#referencesTitle {
   align-self: center;
   margin: auto;
}

#referencesContent{
   display: flex;
   flex-direction: row;
   align-items: stretch;
   width: 80%;
   height: 100%;
   margin: auto;

}

#referencesContent div {
   display: flex;
   width: 100%;
   height: 80%;
   margin: 5px;
   /* align-self: stretch;
   align-items: center; */
   background-color: aquamarine;

   border: black 1px solid;
}

#newsletter {
   background-color: white;
   grid-area: newsletter;
   display: inline-flex;
   flex-direction: column;
   float: none;
   margin-top: 2rem;
}

#newsletter > * {
   display: inline-block;
   float: none;
   margin: 10px auto 10px auto;
}

input {
   padding: 10px;
   border-radius: 5px;
   font-size: 18px;
   margin: 0;
   width: 50%
   ;
}

.input {
   width: 80%;
   display: flex;
   /* justify-content: center;
   align-items: center; */
   text-align: center;
   /* margin: 10px auto 10px auto; */
}

#newsletterText {
   width: 40%;
   text-align: center;
   /* margin: 10px auto 10px auto; */
}

.parallax {
   position: relative;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-image: url(/img/banner-main.jpg);
   background-size: 1400px auto;
   background-position: center top;
}

.title {
   position: absolute;
   left: 0%;
   top: 25%;
   width: 100%;
   text-align: center;
   text-shadow: 0 0 5px black;;
   color: white;
}




h1 {
   font-size: 3.5rem;
   font-weight: 300;
   margin: 0;
}

h2 {
   font-size: 2.1rem;
   margin-top: 2rem;
   text-align: center;
}


footer {
   grid-area: footer;
   background-color: black;
   color: white;
}

/* MOBILE LAYOUT: PORTRAIT */
@media only screen and (max-width: 549px) {

   .container {
   grid-template-columns: 1fr;
   grid-template-rows: 100px 240vh 100vh 150vh 60vh 30vh;
   }

   main {
   grid-area: main;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 80vh 100vh 1fr;
   grid-template-areas: 
   "mainBanner"
   "contentBanners"
   "contentNumbers";
   }

   section {
      width: 100%;
   }

   #contentBanners,
   #contentNumbers,
   #newsContent,
   #referencesContent {
      flex-direction: column;
      width: 90%;
   }

   #clients,
   #employees,
   #dailyUsers {
      text-align: center;
      height: 30%;
   }

   .bannerImage {
     width: 100%;
     max-height: 200px;
     height: auto;
     object-fit: cover;
     border-radius: 10px;     
   }
   .numbersIcon {
      float: left;
      margin: 2em;
      margin-right: 0;
      margin-left: 5em;
      scale: 70%;
   }
   
   .numbersShowcase p {
      text-align: left;
      margin-left: 0;
      font-size: 1rem;
   }
   
   .animatedNumber {
      font-size: 2.5rem !important;
      font-weight: 300;
      margin-top: 2rem;
   
   }

   .centeredText {
      top: 50%;
      font-size: 1.6rem;
      color: white;
   }

   #companyBanner, #productsBanner, #contactUsBanner {
      padding: 0;
   }

   #newsContent article {
      height: 40%;
      margin: 0;
      margin-top: 1em;
      margin-bottom: 1em;

   }

   #referencesContent div {
      background-color: yellow;
      border: black 1px solid;
   }

}
/* Mobile Layout, Landscape */
@media only screen and (max-width: 1110px) and ( min-width: 950px) {
   .animatedNumber {
      font-size: 2.3rem !important;
      font-weight: 300;
      margin-top: 2rem;
   
   }
   #referencesContent div {
      background-color: blue;
      border: black 1px solid;
   }

}

/* MOBILE LANDSCAPE */

@media only screen and (max-width: 954px) and (min-width: 550px) and (max-height: 600px) {
   .container{
      grid-template-columns: 1fr;
      grid-template-rows: 100px 200vh 80vh 90vh 90vh 30vh;
      grid-template-areas: 
      "header"
      "main"
      "latestNews"
      "references"
      "newsletter"
      "footer";
      
   }
   #contentNumbers {
      display: flex;
      align-items: stretch;
      width: 80%;
      height: 80%;
      margin: auto;
   }

   .numbersIcon {
      float: left;
      margin: 2em;
      margin-right: 0;
      margin-left: 1em;
      scale: 50%;
   }
   
   .numbersShowcase p {
      text-align: left;
      margin-left: 0;
      font-size: 1rem;
   }
   
   .animatedNumber {
      font-size: 2rem !important;
      font-weight: 300;
      margin-top: 2rem;
   
   }

   .date {
      margin-bottom: .2em;
   }

   h3 {
      margin: .5em;
      margin-top: 0;
      font-size: .8em;
   }

   #referencesContent div {
      background-color: pink;
      border: black 1px solid;
   }
}


   /* TABLETS */
@media only screen and (max-width: 954px) and (min-width: 550px) and (min-height: 600px) {

   .container{
      grid-template-columns: 1fr;
      grid-template-rows: 100px 100vh 30vh 70vh 30vh 30vh;
      grid-template-areas: 
      "header"
      "main"
      "latestNews"
      "references"
      "newsletter"
      "footer";
      
   }

   main {
      grid-area: main;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 50vh 1fr .5fr;
      grid-template-areas: 
      "mainBanner"
      "contentBanners"
      "contentNumbers";
      }
   
      section {
         width: 100%;
      }
   
      #contentBanners,
      #contentNumbers,
      #newsContent,
      #referencesContent {
         flex-direction: row;
         width: 90%;
      }

      .animatedNumber {
         font-size: 2rem !important;
         font-weight: 300;
         margin-top: 2rem;
      
      }

   #references {
      padding-bottom: 20px;
   }
   
   #referencesContent {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      margin: auto;

   }

   h3 {
      margin: 1em;
      margin-top: 0;
      font-size: 1rem;
   }

   #referencesContent div {
      flex:0 0 45%;
      width: 50%;
      height: 50%;
      margin: auto;

      background-color: purple;

   
      border: black 1px solid;
   }
}


/* Desktop Layout, Larger Screens */
@media only screen and (min-width: 1400px) {


   .parallax {
      background-size: 1400px auto;
      background-position: center top;
   }

}


/* MEDIA QUERIES TO CHANGE BETWEEN HEADER NAV ELEMENTS */
@media only screen and (max-width: 954px) {
   #mobileHeader {
      display: inline;
   }

   #desktopHeader {
      display: none;
   }
}

@media only screen and (min-width: 955px) {
   #mobileHeader {
      display: none;
   }

   #desktopHeader {
      display: inline;
   }
}