@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

/* ------------------ BASE ELEMENTS CSS ------------------ */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
}

:root{
   --font-family:'Open Sans', sans-serif;
}

html {
 font-family: var(--font-family);

}

body {
   background-color: red;
   margin: 0;
   font-size: 1.1rem;
}


h1 {
   font-size: 3.5rem;
   font-weight: 300;
   margin: 0;
}

h2 {
   font-size: 2.1rem;
   margin-top: 2rem;
   text-align: center;
   margin-bottom: 2rem;
}

h3 {
   margin: 1em;
   margin-top: 0;
   font-size: 1.2rem;
}

h4 {
   font-size: 1.2em;
   margin: .5em;
   margin-top: .5em;
}

button {
   background-color:  #4c8930;
   padding: 10px;
   border: none;
   border-radius: 5px;
   color: white;
   font-family: var(--font-family);
   font-size: 18px;
   margin: 0em;
}

button:hover {
   transition: .1s ease-in-out;
   background-color:  #63b13f;
}

input {
   padding: 10px;
   border-radius: 5px;
   font-size: 18px;
   margin: 0;
   width: 50%;
}

header {
   grid-area: header;
   background-color: #4c8930;
}

section {
   display: flex;
   align-items: stretch;
   width: 80%;
   height: 100%;
   margin: auto;
}

footer {
   position: relative;
   grid-area: footer;
   background-color: black;
   color: white;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   width: 100%;
}

/* ------------------ GRID LAYOUT------------------ */

.container {
   background-color: white;
   max-width: 1400px;
   margin: auto;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 170px 920px 350px 650px 275px 270px;
   grid-template-areas: 
   "header"
   "main"
   "latestNews"
   "references"
   "newsletter"
   "footer";
}

main {
   grid-area: main;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 420px 1fr 1fr;
   grid-template-areas: 
   "mainBanner"
   "contentBanners"
   "contentNumbers"
   ;
}

/* ------------------ HEADER & NAVIGATION FOR DESKTOP ------------------ */

.headerTop {
   margin-right: 10%;
}

.headerTopContent {
   height: 50px;
   width: 100%;
  display: table-row;
  text-align: right;
}

.headerTopContent li {
   display: table-cell;
   vertical-align: middle;
   padding: 0;
   width: 100%;
   height: 100%;
}

.headerTopContent li a {
   padding: 1em;
   color: white;
   text-decoration: none;
}

#language {
   padding: 5px 5px 5px 1em;
   width: 160px;
   background-color: white;
   border: none;
   border-radius: 5px;
   font-size: 1rem;
}

.headerBottom {
   background-color: white;
   width: 100%;
   height:120px;
   display: flex;
   justify-content: space-between;
   padding: 2em 0;
}

.navRight {
   display: inline;
   margin-right: 10%;
}

.navRight input {
   width:10%;
}

.navLeft {
   display: table-row;
   text-align: left;
   margin-left: 10%;
}

.navLeft li, .navRight li {
   display: inline-block;
}

.navLeft li , .navRight li > * {
   width: 100%;
   height: 100%;

}

.navLeft li {
   display: table-cell;
   vertical-align: middle;
   padding: 0;
   line-height: 1em;
   white-space: nowrap;
   overflow: hidden;
}

.navLeft li a {

   padding: 1em 1em 1em 0;
}
.navLeft a img {
   height: 50px;
}

.headerBottom a {
   text-decoration: none;
   color: gray;
}

/* ------------------ HEADER & NAVIGATION FOR MOBILE ------------------ */

.headerTopMobile {
   height: 40px;
   width: 100%;
   display: flex;
   justify-content: center;
}

.headerTopMobile a {
   color: white;
   text-decoration: none;
   display: block;
   padding: 8px 20px 20px 0px;
   justify-content: right;
}

.mobileHeaderImage{
   height: 50px;
}

#languageMobile {
   color: white;
   background-color: #4c8930;
   border: none;
   font-size: 1rem;
   margin: 0;
   display:flex;
}

#languageMobile option {
   border-radius: 0;
   background-color: #4c8930;
}

.headerBottomMobile {
   background-color: white;
   height: 60px;
   width: 100%;
   z-index: 1;
   display: flex;
   justify-content: space-between;
}

.mobileHeaderImage {
   margin-top: 5px;
   margin-left: 5px;
}

.dropbtn {
   background-color: white;
   color: #4c8930;
   font-size: 2rem;
   border: none;
   cursor: pointer;
   margin: 0;
 }

 .dropbtn i {
   pointer-events: none;
   padding: 0;
   margin: 0;
   vertical-align: middle;
 }
 
 .dropbtn:hover, .dropbtn:focus {
   background-color: white;
   color: #5ea83c;
 }
 
 .dropdownMenu {
   position: relative;
   display: block;
   float: right;
 }

 .dropdownMenu button {
   padding-bottom: 0;
   padding-top: 5px;
   padding-right: 20px;
   margin-bottom: 11px;
 }
 
 .dropdownContent {
   display: none;
   position: absolute;
   background-color: white;
   width: 100vw;
   overflow: auto;
   z-index: 1;
   right: 0;
   top: -1;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 
 }

 .searchMobile {
   display: block;
   justify-content: center;
   text-align: center;
   width: 100vw;
 }

 .searchMobile input {
   align-items: center;
   display: inline-block;
   width: 40%;
  margin: auto;
  text-align: center;
 }

 .searchIconSpan {
   display: inline-block;
   background-color: white;
   color: #5ea83c;
   padding: 10px !important; 
   margin: auto;
   text-align: center;
   color: white;
   background-color: #4c8930;
 }

 
 .dropdownContent a {
   color: black;
   padding: 14px;
   text-decoration: none;
   display: block;
   min-width: 100%;
   text-align: center;
 }
 
 .dropdown a:hover {background-color: #ddd;}
 
 .show {display: block;}

/* ------------------ DESKTOP FOOTER------------------ */

.footerLeftUp {
   position: absolute;
   top: 0;
   left: 10%;
 width: 40%;
 height: 40%;
 text-align: left;
}

.footerLeftUp h4 {
   margin-bottom: 4rem;
   margin-left: 0;
margin-top: 3rem;
}

.footerLeftDown {
   display: flex;
   position: absolute;
   bottom: 0;
   left: 10%;
   width: 40%;
   height: 60%;
   text-align: left;
}

.footerLeftDown h5 {
   font-size: 1.2rem;
}

.footerLeftDown p {
   font-size: .9em;
   margin: 2px;
}

.footerLeftButton {
   margin: 1.5rem;
   margin-left: 3rem;
}

.footerRightUp {
   position: absolute;
   top: 0;
   right: 10%;
   width: 40%;
   height: 50%;
   text-align: right;
}

.footerRightUp ul {
   display: inline;
}

.footerRightUp ul li {
   display: inline-block;
   margin: 1.5rem;
   margin-top: 3rem;
   margin-right: 0;
}

.footerRightUp a {
   color: white;
   text-decoration: none;
}

.footerRightDown {
   position: absolute;
   bottom: 0;
   right: 10%;
   width: 40%;
   height: 50%;
   text-align: right;
}

/* ------------------ MOBILE FOOTER------------------ */

#mobileFooter {
   grid-area: footer;
   flex-direction: row;
   text-align: center;
   width: 100%;
}

.footerLeftTextMobile h5 {
   font-size: 1.2em;
   margin: 1em;
}

.mobileFooterUp {
   margin: 1em;
   width: 100%;
}

.mobileFooterButton {
   margin: 1em;
}

.mobileFooterDown {
   margin: 1em;
   width: 90%;
}

.mobileFooterDown  a {
   color: white;
}
.mobileFooterDown li {
   margin: 8px;
}

.socials {
   margin: 10px;
}

.footerLinks {
   margin: 1em;
}

.footerLinks ul li {
   margin: 5px;
}

/* ------------------ PARALLAX BANNER ------------------ */

.bannerImage {
   margin-top: 1.2em;
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 5px;
  object-position: bottom;
}

.centeredText {
   position: absolute;
   top: 47%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-weight: 600;
   font-size: 1.4rem;
   color: white;
}

.parallax {
   position: relative;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-image: url(/img/banner-main.jpg);
   background-size: 1400px auto;
   background-position: center top;
}

#contentNumbers {
   display: flex;
   align-items: stretch;
   width: 70%;
   height: 100%;
   margin: auto;
}

#mainBanner {
   width: 100%;
   grid-area: mainBanner;
}

.title h1 {
   margin-top: 0.2em;
   margin: 0.2em 10px 0 10px;
}

.title button {
   margin-top: 1em;
}

/* ------------------ MAIN CONTENT ------------------ */

#companyBanner {
   position: relative;
   grid-area: companyBanner;
   width: 100%;
   height: 95%;
   text-align: center;
   padding: .7em;
}

#productsBanner {
   position: relative;
   grid-area: productsBanner;
   width: 100%;
   height: 95%;
   text-align: center;
   padding: .7em;
   }

#contactUsBanner {
   position: relative;
   grid-area: contactUsBanner;
   width: 100%;
   height: 95%;
   text-align: center;
   padding: .7em;
   }

#clients {
   grid-area: clients;
   width: 100%;
   height: 100%;
}

#employees {
   grid-area: employees;
   width: 100%;
   height: 100%;
}

#dailyUsers {
   grid-area: dailyUsers;
   width: 100%;
   height: 100%;
}

#clients,
#employees,
#dailyUsers {
   text-align: center;
}

.numbersIcon {
   float: left;
   margin: 3em;
   margin-right: 1.2em;
   margin-left: 1em;
   scale: 90%;
}

.numbersShowcase p {
   text-align: left;
   margin-left: 1em;
}

.animatedNumber {
   font-size: 3.5rem;
   font-weight: 300;
   margin-top: 2rem;

}

/* ------------------ LATEST NEWS SECTION ------------------ */

#latestNews {
   grid-area: latestNews;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 100px 1fr;
   grid-template-areas: 
   "referencesTitle"
   "referencesContent";
   background-color: rgb(236,238,239);
   width: 100%;
}

#newsTitle {
   align-self: center;
   margin: auto;
}


#newsContent{
   display: flex;
   flex-direction: row;
   align-items: stretch;
   width: 80%;
   height: 100%;
   margin: auto;
}

#newsContent article {
   display: block;
   width: 100%;
   height: 70%;
   background-color: white;
   margin: 1em;
   border-radius: 5px;
   cursor: pointer;
}

.date {
   font-size: .8em;
   margin: 1em;
}

/* ------------------ REFERENCES SECTION ------------------ */

#references {
   grid-area: references;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 150px 1fr;
   grid-template-areas: 
   "referencesTitle"
   "referencesContent"
   ;
   width: 100%;
   border-bottom: 1px lightgrey solid;
}

#referencesTitle {
   align-self: center;
   margin: auto;
}

#referencesContent{
   display: flex;
   flex-direction: row;
   width: 80%;
   height: 90%;
   margin: auto;
}

.card {
   display: inline;
   width: 100%;
   height: 100%;
   margin: 5px;
   text-align: center;
   background-color: white;
   border: lightgrey 1px solid;
   border-radius: 5px;
}

.card p {
   font-size: .85em;
   margin: 1em;
   margin-top: 0;
}

.referencesImage {
   width: 100%;
   height: 50%;
   object-fit: contain;
   margin: 0;
   border-bottom: lightgrey 1px solid;
}

/* ------------------ NEWSLETTER SECTION ------------------ */

#newsletter {
   background-color: white;
   grid-area: newsletter;
   display: inline-flex;
   flex-direction: column;
   float: none;
   margin-top: 2rem;
}

#newsletter > * {
   display: inline-block;
   float: none;
   margin: 10px auto 10px auto;
}

.newsletterModal {
   display: block;
   visibility: hidden;
   opacity: 0;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%; 
   overflow: auto; 
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(48, 90, 35, 0.4);
   transition: all .3s ease-in-out;
   transform: scale(1.2);
   pointer-events: none;
   will-change: transform, visibility, opacity,  transition;
   text-align: center;
}

button:disabled {
   background-color: #888;
   pointer-events: none;
}

.modalContent {
   background-color: white;
   margin: 20% auto;
   padding: 20px;
   border: 1px solid lightgrey;
   border-radius: 10px;
   width: 60%;
   max-width: 500px;
   text-align: center;
   box-shadow: 1px 0 10px 2px rgba(48, 90, 35, 0.4);
}

.visible {
   transform: scale(1);
   opacity: 1;
   visibility: visible;
   overflow-y: hidden;
   pointer-events: auto;
   transition: all .3s ease-in-out, transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.modalContent img {
   width: 40%;
   height: auto;
   margin: auto;
}

.modalContent h3 {
   margin-top: 2em;
}

.closeModal {
   color: #aaa;
   float: right;
   font-size: 2rem;
   font-weight: bold;
   margin-top: -1rem;
}

.closeModal:hover,
.closeModal:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}

#Subscripe:valid {
   border-color: #5ea83c;
 }
 
 #Subscripe:invalid {
   border-color: black;
 }

.input {
   width: 80%;
   display: flex;
   text-align: center;
}

#newsletterText {
   width: 40%;
   text-align: center;
}

.title {
   position: absolute;
   left: 0%;
   top: 25%;
   width: 100%;
   text-align: center;
   text-shadow: 0 0 5px black;;
   color: white;
}

/* ----------------- MEDIA QUERIES ------------------ */


/* MOBILE LAYOUT: PORTRAIT */
@media only screen and (max-width: 600px) and (orientation: portrait) {

   .container {
   grid-template-columns: 1fr;
   grid-template-rows: 100px 240vh 100vh 190vh 60vh 80vh;
   }

   main {
   grid-area: main;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 80vh 100vh 1fr;
   grid-template-areas: 
   "mainBanner"
   "contentBanners"
   "contentNumbers";
   }

   section { width: 100%; }

   footer {
      flex-direction: row;
      width: 100%;
   }

   #contentBanners,
   #contentNumbers,
   #newsContent,
   #referencesContent {
      flex-direction: column;
      width: 90%;
   }

   #clients,
   #employees,
   #dailyUsers {
      text-align: center;
      height: 30%;
   }

   .bannerImage {
     width: 100%;
     max-height: 200px;
     height: auto;
     object-fit: cover;
     border-radius: 10px;     
   }
   .numbersIcon {
      float: left;
      margin: 2em;
      margin-right: 0;
      margin-left: 5em;
      scale: 70%;
   }
   
   .numbersShowcase p {
      text-align: left;
      margin-left: 0;
      font-size: 1rem;
   }
   
   .animatedNumber {
      font-size: 2.5rem !important;
      font-weight: 300;
      margin-top: 2rem;
   
   }

   .centeredText {
      top: 50%;
      font-size: 1.6rem;
      color: white;
   }

   #companyBanner, #productsBanner, #contactUsBanner {
      padding: 0;
   }

   #newsContent article {
      height: 40%;
      margin: 0;
      margin-top: 1em;
      margin-bottom: 1em;
   }

   .modalContent {
      margin: 40% auto;
      width: 80%;
      height: 40%;
   }

   .modalContent img {
      width: 150px;
      margin-bottom: 2rem;
   }

   #referencesContent div {
      height: 23%;
      border: lightgrey 1px solid;
   }

}

/* MOBILE LAYOUT LANDSCAPE */
@media only screen and (max-width: 940px) and (orientation: landscape) {

   .container{
      grid-template-columns: 1fr;
      grid-template-rows: 100px 200vh 100vh 200vh 80vh 80vh;
      grid-template-areas: 
      "header"
      "main"
      "latestNews"
      "references"
      "newsletter"
      "footer";
   }

   main {
      grid-area: main;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 70vh 1fr 1fr;
      grid-template-areas: 
      "mainBanner"
      "contentBanners"
      "contentNumbers";
      }

      h2 {
         margin-bottom: 0;
         margin-top: 0;
      }

      h3 { font-size: 1em; }

      section { width: 100% !important; }
      
      #contentNumbers, #contentBanners {
         display: flex;
         align-items: stretch;
         width: 90%;
         height: 100%;
         margin: auto;
      }

      .title h1 { font-size: 2rem; }

      #contentNumbers {
         display: flex;
         align-items: stretch;
         width: 80%;
         height: 80%;
         margin: auto;
      }

      .animatedNumber { font-size: 2rem; }

      .numberName {
         text-align: left;
         margin-left: 0;
         font-size: 1rem;
      }

      #newsContent { width: 100%; }

      #newsContent article { height: 80%; }

      #references { grid-template-rows: 80px 1fr; }

      #referencesContent {
         display: flex;
         width: 100%;
         flex-wrap: wrap;
         margin: auto;
         flex-direction: row;
      }

      #referencesContent div {
         flex:0 0 40%;
         width: 20%;
         flex-wrap: wrap;
         height: 50%;
         margin: auto;
         margin-bottom: 1em;
         margin-top: 0;
         background-color: white;
         border: lightgrey 1px solid;
      }

      #mobileFooter { flex-direction: row; }

      .mobileFooterUp, .mobileFooterDown {
         width: 50%;
         margin: 0;
         margin-top: 2em;
      }
}

/* TABLET LAYOUT PORTRAIT */ 
@media only screen and (max-width: 950px) and (min-width: 601px) and (orientation: portrait) {

   .container{
      grid-template-columns: 1fr;
      grid-template-rows: 100px 90vh 40vh 90vh 50vh 40vh;
      grid-template-areas: 
      "header"
      "main"
      "latestNews"
      "references"
      "newsletter"
      "footer";
   }

   main {
      grid-area: main;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 50vh 1fr 1fr;
      grid-template-areas: 
      "mainBanner"
      "contentBanners"
      "contentNumbers";
      }

   #contentNumbers, #contentBanners {
      display: flex;
      align-items: stretch;
      width: 90%;
      height: 100%;
      margin: auto;
   }

      .animatedNumber {
         text-align: left;
         margin-left: 0;
         font-size: 1.5em;
      }

      .numberName { font-size: .5em; }

      #references { grid-template-rows: 80px 1fr; }

      #referencesContent {
         display: flex;
         width: 100%;
         flex-wrap: wrap;
         margin: auto;
         flex-direction: row;
      }

      #referencesContent div {
         flex:0 0 40%;
         width: 20%;
         flex-wrap: wrap;
         height: 50%;
         margin: auto;
         margin-bottom: 1em;
         margin-top: 0;
         background-color: white;
         border: lightgrey 1px solid;
      }

      h3 {
         margin: .5em;
         margin-top: 0;
         font-size: .8em;
      }

      #mobileFooter {  flex-direction: row; }

      .mobileFooterUp, .mobileFooterDown {
         width: 50%;
         margin: 0;
         margin-top: 2em;
      }
}

/* SMALLER DESKTOP/TABLET WINDOW */
@media only screen and (max-width: 1110px) and ( min-width: 950px) {
   .animatedNumber {
      font-size: 2.3rem !important;
      font-weight: 300;
      margin-top: 2rem;
   }

   .modalContent {
      margin: 15% auto;
      width: 80%;
      height: 40%;
   }

   #mobileFooter { flex-direction: column; }

   .mobileFooterUp, .mobileFooterDown { width: 50%; }

   #referencesContent div {
      background-color: white;
      border: lightgrey 1px solid;
   }
}

/* DESKTOP OVER MAX WIDTH */
@media only screen and (min-width: 1400px) {
   .parallax {
      background-size: 1400px auto;
      background-position: center top;
   }

   .card { height: 90%; }
}
/* Quick and dirty fix for footer links */
@media only screen and (max-width: 1280px) {
   .footerRightUp ul li {
      display: inline-block;
      margin: .3rem;
      margin-top: 3rem;
      margin-right: 0;
      font-size: .8em;
   }
}


/* MEDIA QUERIES TO CHANGE BETWEEN HEADER NAV ELEMENTS */
@media only screen and (max-width: 954px) {
   #mobileHeader { display: inline; }

   #desktopHeader { display: none; }
}

@media only screen and (min-width: 955px) {
   #mobileHeader { display: none; }

   #desktopHeader { display: inline; }
}

/* MEDIA QUERIES TO CHANGE BETWEEN FOOTER ELEMENTS */
@media only screen and (max-width:909px) {
   #mobileFooter { display: flex; }

   #desktopFooter { display: none; }
}

@media only screen and (min-width:910px) {
   #mobileFooter { display: none; }

   #desktopFooter { display: flex; }
}